.settings {
	background: #f7f7f7;
	border: 1px solid #cccccc;
	padding: 10px; 
}

.settings td {
	padding: 0 10px 0 10px;
}

.logo {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-right: 1px solid #cccccc;
}

.update {
	text-align: center;
	padding: 0 0 0 20px;
	margin-left: 20px;
	border-left: 1px solid #cccccc;
}

.fbml_add_profile_button {
	float: right;
	width: 118px;
}

.netflix {
    color: #B9090B;
    float: right;
}

.fbml_add_profile_button td {
	padding: 0px;
}

.addmsg {
	background:#ffebe8;
	border:1px solid #DD3C10;
	margin:10px 0 10px;
	padding:10px;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}

.friends {
	width: 100%;
}

.friends .check {
	text-align: center;
}

.friends .img{
	width: 10%;
	text-align: center;
}

.friends .percent{
	width: 10%;
}

.friends .name{
	width: 30%;
}

.friends .list{
	width: 50%;
	text-align: right;
}



.table {
	width: 100%;
	margin-top: 10px;
	background: #CCCCCC;
}

.table thead tr th {
	background: #6D84b4;
	border: 1px #666 solid;
	padding: 4px;
	color: #fff;
}

.table tbody tr.even {
	background: #F7F7F7;
}

.table tbody tr.odd {
	background: #FFF;
}

.table tbody tr.yes {
	background: #ccffcc;
}

.table tbody tr.no {
	background: #ffcccc;
}

.table tbody tr {
	border-color: inherit;
}

.table tbody tr td {
	padding: 4px;
}

.count, .seenit {
	text-align: center;
}

.submit {
	margin: 10px;
}

.compare {
	display: block;
	float: right;
	background: #6D84b4;
}

.status {
    background-color:#FFF9D7;
    border-color:#E2C822;
    padding:10px;
}

